<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">DSpace 7</h1>
          <p class="lead">P-arch è l'archivio istituzionale ad accesso aperto del Parco Scientifico e Tecnologico della Sardegna. Contiene la documentazione scientifica prodotta dalla ricerca finanziata con fondi pubblici, ossia articoli scientifici, la digitalizzazione di programmi e di progetti pilota e sperimentali, nonché di tutti i documenti ad essi collegati come report, brevetti, contributi a convegni, marchi e design registrati, manuali, cataloghi e tutto quanto venga realizzato all'interno del Parco.</p>
        </div>
      </div>
      
    </div>
  </div>  
</div>
