<h2>INFORMATIVA ai sensi dell'articolo 13-14 del Regolamento 2016/679</h2>
<p>
  Gentile interessata/o<br>
  Il Titolare del trattamento, in conformita' alla normativa in materia di protezione dei dati personali (Regolamento (UE) 2016/679, D. Lgs. 196/2003 e D.Lgs. 101/2018) intende spiegarti in maniera semplice e chiara 
</p>
<ul>
	<li>perche' trattiamo i tuoi dati personali;</li>
	<li>quali dati personali trattiamo;</li>
	<li>chi tratta i tuoi dati personali;</li>
	<li>come trattiamo i tuoi dati personali e per quanto tempo li conserviamo;</li> 
	<li>come puoi esercitare i tuoi diritti relativamente al trattamento dei dati personali</li>
</ul>
	

<h2>TITOLARE DEL TRATTAMENTO</h2>
<p>Il <b>TITOLARE DEL TRATTAMENTO</b> e' Sardegna Ricerche nella persona del suo Rappresentante Legale pro tempore info@sardegnaricerche.it o protocollo@cert.sardegnaricerche.it.
La presente Informativa ha carattere generale e si consiglia di controllare regolarmente questa pagina per eventuali aggiornamenti.
</p>
<h2>PERCHE' SARDEGNA RICERCHE TRATTA TUOI DATI</h2>
<p>I tuoi dati personali sono trattati per le seguenti finalita'</p>
	<ul>
		<li>Accesso ad un'area riservata del sito in cui potrai</li>
		<li>scegliere gli argomenti del sito sui quali vuoi ricevere aggiornamenti via email</li>
		<li>caricare nuovi contenuti (solo per i profili autorizzati)</li>
	</ul>

<h2>QUALI DATI TRATTA SARDEGNA RICERCHE</h2>
<p>Nell'esercizio delle proprie funzioni e nell'ambito delle finalita' indicate il Titolare tratta i seguenti dati:<p>
<ul>
	<li>Dati identificativi dell'utente che si iscrive al sito (nome, cognome, email, telefono).</li>
</ul>
<p>La maggior parte dei dati a te richiesti devono essere forniti obbligatoriamente in quanto necessari per l'erogazione
del relativo servizio richiesto e, comunque, per il raggiungimento delle finalita' istituzionali assegnate dalla legge. Il
rifiuto di fornire i dati obbligatori comporta per l'Ente l'impossibilita' di eseguire le prestazioni e i compiti per i quali
tali dati sono necessari.
</p>
<h2>CHI TRATTA I TUOI DATI</h2>
<p>I tuoi dati potranno essere resi accessibili per le finalita' a te comunicate a:</p>
<ul>
	<li>dipendenti e/o collaboratori del Titolare, nella loro qualita' di autorizzati del trattamento e/o amministratori di sistema;</li>
	<li>pubbliche amministrazioni e soggetti terzi cui e' stata affidata la fornitura di servizi per conto del Titolare</li>
</ul>
<p>
I tuoi dati possono essere comunicati o resi disponibili, senza necessita' del tuo consenso, a organi di controllo, forze
dell'ordine o magistratura, altre pubbliche amministrazioni nei casi previsti dalla legge per finalita' istituzionali e in
qualita' di autonomi titolari del trattamento. I tuoi dati possono essere trattati da organismi di audit e di controllo
dell'Unione Europea, nazionali e regionali nei casi previsti dalla normativa vigente.
Alcuni dati personali sono resi pubblici nei casi previsti dalla legge per finalita' di trasparenza o di pubblicita' legale
</p>
<h2>COME TRATTIAMO I TUOI DATI E LI CONSERVIAMO</h2>
<p>Il trattamento dei tuoi dati personali e' realizzato con modalita' Digitale, per mezzo delle operazioni di Raccolta,
Registrazione, Organizzazione, Strutturazione, Conservazione, Estrazione, Consultazione, Cancellazione o
distruzione.
Il Titolare non adotta alcun processo decisionale automatizzato. Nell'ipotesi in cui il trattamento preveda un
processo decisionale automatizzato, compresa la profilazione, il Titolare ti informera' in merito alla logica utilizzata
e alle conseguenze del trattamento per l'interessato con specifica informativa.
</p>
<h2>PER QUANTO TEMPO CONSERVIAMO I TUOI DATI</h2>
<p>
Sardegna Ricerche trattera' i tuoi dati personali per il tempo necessario per adempiere alle finalita' a te comunicate
e comunque secondo criteri predeterminati che ti verranno comunicati nell'ambito di specifici trattamenti. Nello
specifico, sono stati definiti i seguenti termini di cancellazione: 10 anni.
</p>
<h2>TRASFERIMENTO DEI DATI IN ALTRI PAESI</h2>
<p>Il Titolare ti informa che i tuoi dati non saranno trasmessi in paesi Extraeuropei.</p>
<h2>COME PUOI ESERCITARE I TUOI DIRITTI RELATIVAMENTE AL TRATTAMENTO DEI DATI PERSONALI</h2>
<p>Sardegna Ricerche ti informa che, in qualita' di soggetto interessato, se non ricorrono le limitazioni previste dalla legge, hai diritto di ottenere l'accesso ai tuoi dati personali e alle seguenti informazioni:</p>
<ul>
	<li>finalita' del trattamento; 
	<li>categorie di dati personali in questione; 
	<li>destinatari o le categorie di destinatari a cui i dati personali sono stati o saranno comunicati, in particolare se destinatari di paesi terzi o organizzazioni internazionali; 
	<li>indicare se possibile, il periodo di conservazione dei dati personali previsto oppure, se non e' possibile, i criteri utilizzati per determinare tale periodo; 
	<li>chiedere al titolare del trattamento la rettifica o la cancellazione dei dati personali o la limitazione del trattamento dei dati personali che lo riguardano o di opporsi al loro trattamento; 
	<li>il diritto di proporre reclamo a un'autorita' di controllo; 
	<li>qualora i dati non siano raccolti presso l'interessato, tutte le informazioni disponibili sulla loro origine 
	<li>esistenza di un processo decisionale automatizzato, compresa la profilazione; 
	<li>qualora i dati personali siano trasferiti a un paese terzo o a un'organizzazione internazionale, esistenza di garanzie adeguate relative al trasferimento. Il titolare del trattamento fornisce una copia dei dati personali oggetto di trattamento, a meno che ciò non costituisca lesione di diritti di terzi. (Il Considerando n. 63 al Regolamento, precisa che, qualora il Titolare tratti una notevole quantita' di dati dell'interessato, può essere richiesto a quest'ultimo di specificare le informazioni o le attivita' di cui richiede l'accesso)
	<li>proporre reclamo all'Autorita' Garante per la Protezione dei dati personali.
</ul>
<p><b>Puoi esercitare i tuoi diritti inviando al Titolare del trattamento</b> una e-mail oppure una PEC oppure una raccomandata A.R. E' possibile utilizzare lo specifico modello scaricabile sul sito di Sardegna Ricerche al seguente:  
<a href="https://www.sardegnaricerche.it/documenti/13_493_20210628154746.rtf" >link</a> 
In caso di spedizione con mail o PEC la richiesta deve essere inviata contestualmente agli indirizzi: privacy@sardegnaricerche.it e rpd@regione.sardegna.it. 
In alternativa la richiesta puo' essere inviata per posta con raccomandata A.R. all'indirizzo: Sardegna Ricerche Privacy via Palabanda n. 9 - 09123 Cagliari e contestualmente all'indirizzo "Unita' di progetto Responsabile della protezione dati per il sistema Regione" viale Trieste n. 186  - 09123 Cagliari.
</p>
<p>Per informazioni in merito ai tuoi diritti in materia di protezione dei dati personali puoi contattare il Responsabile per la protezione dei dati di Sardegna Ricerche ai seguenti riferimenti: viale Trieste n. 186 - 09123 Cagliari telefono +39 070 6065735 e-mail rpd@regione.sardegna.it PEC rpd@pec.sardegna.it 
</p>

